 /* @import url(https://fonts.googleapis.com/css?family=Raleway:700); */

*, *:before, *:after {
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {
   background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-color: #fff; 
    height: 100%;
}

.text-wrapper {
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
    font-size: 6em;
    font-weight: 700;
    color: #FFF;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #555;
}

.buttons {
    margin: 30px;
    
    a.button {
        font-weight: 700;
        border: 2px solid #FFF;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: #FFF;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            background-color: #FFF;
            color: white;
            transition: all 0.2s ease-in-out;
        }
    }

    
}
